:host {
    width: 840px;
    height: 640px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

ether-room-form {
    height: 780px;
}

div.actions {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    ether-button {
        width: 180px;
    }
}