button {
    width: 100%;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    border-radius: 1rem;
    border: 0.15rem solid black;
    cursor: pointer;
    transition: var(--linear-transition-settings);
    &:hover {
        transition: var(--linear-transition-settings);
    }
}

// button.secondary {
//     width: 90% !important;
// }

button.default {
    background-color: #ffffff;
    &:hover {
        background-color: black;
        color: white;
    }
}

button.inverted {
    background-color: black;
    color: #ffffff;
    &:hover {
        background-color: #ffffff;
        color: black;
    }
}

button.danger {
    background-color: var(--ether-red);
    color: var(--color-black);
    border: 2px solid var(--color-black);
}