<nav>
    <!-- <a *ngFor="let route of routes" [routerLink]="route.path">{{ route.label }}</a> -->
    <a *ngIf="homeAccess" [routerLink]="'/'">HOME</a>
    <a *ngIf="isUser" [routerLink]="'/guest/all-hotels'">ALL HOTELS</a>
    <a *ngIf="isUser" [routerLink]="'/guest/your-bookings'">YOUR BOOKINGS</a>
    <a *ngIf="isHotel" [routerLink]="'/hotel/manage-rooms'">MANAGE ROOMS</a>
    <a *ngIf="isHotel" [routerLink]="'/hotel/my-bookings'">MY BOOKINGS</a>
</nav>

<!-- <nav>
    <a *ngIf="isHotel" [routerLink]="'/hotel/manage-rooms'">MANAGE ROOMS</a>
</nav> -->