<div>
    <h4>GUESTS</h4>
    <button (click)="addGuest()" type="button">+</button>
</div>
<form *ngFor="let guestForm of (guestFormArray$ | async).controls; let i = index" [formGroup]="castAbstractToFormGroup(guestForm)">
    <ether-form-field>
        <ether-form-field-label>NAME *</ether-form-field-label>
        <input formControlName="name" type="text" />
        <ether-form-field-error *ngIf="castAbstractToFormGroup(guestForm).get('name').touched && castAbstractToFormGroup(guestForm).get('name').hasError('required')">
            Field is required
        </ether-form-field-error>
        <ether-form-field-error *ngIf="castAbstractToFormGroup(guestForm).get('name').touched && castAbstractToFormGroup(guestForm).get('name').hasError('maxlength')">
            Max length is 100
        </ether-form-field-error>
    </ether-form-field>
    <ether-form-field>
        <ether-form-field-label>EMAIL *</ether-form-field-label>
        <input formControlName="email" type="text" />
        <ether-form-field-error *ngIf="castAbstractToFormGroup(guestForm).get('email').touched && castAbstractToFormGroup(guestForm).get('email').hasError('maxlength')">
            Max length is 20
        </ether-form-field-error>
    </ether-form-field>
    <ether-form-field>
        <ether-form-field-label>phone *</ether-form-field-label>
        <input formControlName="phone" type="text" mask="+00(00)00000-0000" />
    </ether-form-field>
    <button (click)="removeGuest(i)" type="button">-</button>
</form>