section {
    padding: 70px;
}

.bookings-section {
    display: flex;
    gap: 30px;

    &__bookings {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 75%;
    }
}