section {
  padding: 5rem;

  @media screen and (max-width: 1370px) {
    padding: 2rem;    
  }

  display: flex;
  justify-content: space-between;

  .hotel-list {
    display: flex;
    flex-direction: column;
    width: 75%;

    .hotel-card {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      padding: 1rem;
      min-height: 10rem;
      border: 1px solid #E0E0E0;

      .hotel-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .description {
          border-left: 2px solid #CBCBCB;
          padding-left: 0.8rem;
          margin-left: 0.8rem;

          @media screen and (max-width: 1370px) {
            max-width: 550px;
          }
        }
      }

      .hotel-amenities ul li {
        font-size: 12px;
      }

      .availability {
        display: flex;
        align-items: end;
      }
    }
  }
}
