<section>
  <ether-filter></ether-filter>

  <div class="hotel-list">
    <ng-container *ngIf="hotels$ | async as hotels; else emptySection">
      <div class="hotel-card" *ngFor="let hotel of hotels">
        <!-- <div class="hotel-image"></div> -->

        <div class="hotel-details">
          <div class="header-address">
            <h2>{{ hotel.name }}</h2>
            <span>{{ hotel.address.description }}</span>
          </div>
          <div class="description">{{ hotel.description }}</div>
          <span>Telephone: {{ hotel.contact.phone }}</span>
        </div>
        <div class="hotel-amenities" *ngIf="hotel.conveniences.length > 0">
          <ether-icon-text iconName="building-icon" iconSize="n3">Hotel Amenities:</ether-icon-text>
          <ul>
            <li *ngFor="let convenience of hotel.conveniences">
              {{ findConvenienceDescription(convenience.type) }}
            </li>
          </ul>
        </div>
        <div class="availability">
          <ether-button-text-icon [iconName]="'right-arrow-white'" mat-button (click)="openRoomsDialog(hotel.id)">Check rooms</ether-button-text-icon>
        </div>
      </div>
    </ng-container>

    <ng-template #emptySection></ng-template>
  </div>
</section>