<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../../styles/global.scss" />
    <link rel="stylesheet" href="./booked-room.component.scss" />

    <style>
      @font-face {
        font-family: "Quasimoda";
        src: url("./assets/public/Quasimoda Light.otf");
        font-weight: 300;
      }
      @font-face {
        font-family: "Quasimoda";
        src: url("./assets/public/Quasimoda Regular.otf");
        font-weight: 400;
      }
      @font-face {
        font-family: "Quasimoda";
        src: url("./assets/public/Quasimoda Bold.otf");
        font-weight: 500;
      }
      @font-face {
        font-family: "Quasimoda";
        src: url("./assets/public/Quasimoda SemiBold.otf");
        font-weight: 600;
      }
      @font-face {
        font-family: "FONTSPRING DEMO - All Round Gothic Book";
        src: url("./assets/public/Quasimoda Light.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="root2">
      <main class="user-booking-room-details-pa">
        <div class="home-page2"></div>
        <section class="booking-summary">
          <div class="summary-content">
            <div class="booking-location-wrapper">
              <div class="booking-location">
                <h3 class="booking-info2">Cambria Hotel Nashville Downtown</h3>
                <div class="th-avenue-south">
                  118, 8th Avenue South, Nashville, 37203, USA
                </div>
              </div>
            </div>
            <div class="amenities-wrapper-parent">
              <div class="amenities-wrapper">
                <div class="amenity-list">
                  <div class="amenity-categories">
                    <img
                      class="category-labels-icon"
                      loading="lazy"
                      alt=""
                      src="./assets/public/rectangle-49@2x.png"
                    />

                    <img
                      class="category-labels-icon1"
                      loading="lazy"
                      alt=""
                      src="./assets/public/rectangle-50@2x.png"
                    />

                    <img
                      class="category-labels-icon2"
                      loading="lazy"
                      alt=""
                      src="./assets/public/rectangle-51@2x.png"
                    />

                    <div class="amenity-category">
                      <img
                        class="amenity-category-child"
                        alt=""
                        src="./assets/public/rectangle-52@2x.png"
                      />

                      <div class="category-icon"></div>
                      <div class="category-name">
                        <p class="p">+1</p>
                      </div>
                    </div>
                  </div>
                  <div class="amenity-details1">
                    <div class="details-icon">
                      <img
                        class="details-image-icon"
                        loading="lazy"
                        alt=""
                        src="./assets/public/rectangle-43@2x.png"
                      />
                    </div>
                    <div class="room-info-wrapper-wrapper">
                      <div class="room-info-wrapper">
                        <img
                          class="image-removebg-preview-55-3"
                          loading="lazy"
                          alt=""
                          src="./assets/public/imageremovebgpreview-55-3@2x.png"
                        />

                        <div class="info-header">
                          <div class="room-information">Room information:</div>
                        </div>
                      </div>
                    </div>
                    <div class="additional-amenities">
                      <div class="flat-screen-tv-work-container">
                        <ul class="flat-screen-tv-work-desk-iron">
                          <li class="flat-screen-tv">Flat-screen TV</li>
                          <li class="work-desk">Work Desk</li>
                          <li class="iron-and-ironing">
                            Iron and ironing board
                          </li>
                          <li>Free toilets</li>
                        </ul>
                      </div>
                      <div class="hairdryer-free-unlimited-container">
                        <ul class="hairdryer-free-unlimited-wi-fi">
                          <li class="hairdryer">Hairdryer</li>
                          <li class="free-unlimited-wi-fi">
                            Free unlimited Wi-Fi
                          </li>
                          <li class="coffee-tea">Coffee & Tea Maker</li>
                          <li>Telephone</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="guest-info-wrapper-parent">
                <div class="guest-info-wrapper">
                  <div class="guest-details">
                    <div class="details-list">
                      <div class="room-details">ROOM DETAILS</div>
                      <div class="guest-label">
                        <div class="guests">GUESTS</div>
                      </div>
                      <div class="booking-info-label">
                        <div class="booking-info3">BOOKING INFO</div>
                      </div>
                    </div>
                  </div>
                  <div class="vector-group">
                    <img
                      class="vector-icon"
                      alt=""
                      src="./assets/public/vector-1-1.svg"
                    />

                    <img
                      class="divider-end-icon"
                      alt=""
                      src="./assets/public/vector-2-1.svg"
                    />
                  </div>
                </div>
                <div class="frame-wrapper4">
                  <div class="frame-parent7">
                    <div class="frame-wrapper5">
                      <div class="check-in-info-parent">
                        <div class="check-in-info">
                          <div class="check-in2">
                            <p class="check-in3">Check-In</p>
                          </div>
                          <div class="apr-2023-300pm">03 Apr 2023, 3:00pm</div>
                        </div>
                        <div class="room-info1">
                          <div class="room-number">Room Number</div>
                          <div class="room-number-value">302</div>
                        </div>
                        <div class="booking-date">
                          <div class="booked-at">Booked At</div>
                          <div class="jan-23-2023">Jan 23 2023, 9:42am</div>
                        </div>
                      </div>
                    </div>
                    <div class="summary-items-parent">
                      <div class="summary-items">
                        <div class="check-out2">
                          <p class="check-out3">Check-Out</p>
                        </div>
                        <div class="apr-2023-500pm">08 Apr 2023, 5:00pm</div>
                      </div>
                      <div class="summary-items1">
                        <div class="room-type">Room Type</div>
                        <div class="double-room">Double Room</div>
                      </div>
                      <div class="summary-items2">
                        <div class="booking-status">Booking Status</div>
                        <div class="active">Active</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
