<section>
    <img [src]="pathToImage('login-image', 'png')" alt="Login Image">

    <div class="login">
        <img [src]="pathToImage('etheroom-logo', 'svg')" alt="Ether Logo">

        <h1>Log In</h1>

        <div class="login-button">
            <ether-button-text-icon
                iconName="metamask-fox"
                buttonType="secondary"
                (onClick)="handleButtonClick()">
                    LOG IN WITH METAMASK
            </ether-button-text-icon>
        </div>

        <div class="login-info">
            <p>How to Log In with Metamask browser plugin:</p>

            <ul>
                <li>
                    Make sure you have installed the <a href="https://metamask.io/download/">Metamask plugin</a> in your browser.
                </li>
                <li>
                    Create and/or log into a Metamask wallet account
                </li>
                <li>
                    Click on the button above and allow the connection
                </li>
                <li>
                    If it is your first time, complete your registration with your personal information
                </li>
            </ul>
        </div>

        <div class="sign-up">
            <p>Don't have an account? <a href=":javascript">sign up</a></p>
        </div>
    </div>
</section>