:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99; // Ensure it is above other elements
    background: #F5F5F5; // Or any other background you need
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 35%;
    }

    login-button {
        width: 75%;
    }

    .login {
        position: relative;
        left: -14px;
        top: -2px;
        height: 66vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;

        img {
            width: 35% !important;
        }

        .login-info {
            width: 75%;
            
            p {
                text-align: center;
            }
        }
    }
}