:root {
    --white: #fff;
    --gray: #9b9b9b;
    --primary: #11998e;
    --secondary: #38ef7d;
}

body {
    font-family: 'Quasimoda', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul, li {
    margin: 0;
}

.container {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 0;
}

.header-section {
    background-color: #000;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.header-top {
    z-index: 10;
    width: 90%;
}

.logo-box {
    background-color: #000;
    width: 150px;
    height: 150px;
}
.header-content {
    background-color: #fff;
    height: 130px;
    display: flex;
    width: 100%;
}

.header-inner {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1648px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.etheroom-logo {
    width: 250px;
}

.branding img {
    aspect-ratio: 1.02;
    width: 94px;
}

.branding-text {
    font-family: 'FONTSPRING DEMO - All Round Gothic Book', -apple-system, Roboto, Helvetica, sans-serif;
    flex-grow: 1;
    margin: auto 0;
}

.nav-bar {
    align-self: stretch;
    display: flex;
    align-items: start;
    gap: 20px;
    font-size: 18px;
    letter-spacing: 0.18px;
    margin: auto 0;
}

.nav-item {
    font-family: 'Quasimoda', sans-serif;
}
.nav-img-item {
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
    margin-top: 28px;
}
.nav-img-item img {
    aspect-ratio: -3.28;
    width: 124px;
    border-width: 5px;
    border-style: solid;
}
.header-right-actions {
    align-self: stretch;
    display: flex;
    gap: 20px;
    font-size: 16px;
    justify-content: space-between;
    margin: auto 0;
}

.signin-btn {
    font-family: 'Quasimoda', sans-serif;
    border-radius: 20px;
    border: 3px solid;
    background-color: #fff;
    color: #000;
    justify-content: center;
    padding: 27px 60px;
}

.signup-btn {
    font-family: 'Quasimoda', sans-serif;
    border-radius: 20px;
    border: 2px solid;
    background-color: #000;
    color: #fff;
    justify-content: center;
    padding: 27px 60px;
}

.main-section {
    align-self: center;
    width: 100%;
    margin: 75px 0 75px;
}
.main-inner {
    display: flex;
    gap: 20px;
}

.details-section {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 0;
}

.details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.details-header {
    font-size: 35px;
    font-weight: 600;
}
.details-subheader {
    margin-top: 11px;
    font-size: 20px;
    font-weight: 400;
}
.details-images {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.image-column-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.vertical-img {
    aspect-ratio: 1;
    width: 80px;
}
.overlay-img-container {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 80px;
    justify-content: center;
}
.overlay-img-container img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay-text {
    position: relative;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.57);
    color: #fff;
    font-size: 35px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-img {
    aspect-ratio: 1.16;
    width: 80%;
}

.details-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.details-icon {
    width: 31px;
}

.feature-segment {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    margin-top: 22px;
}
.multi-column {
    display: flex;
    justify-content: space-between;
}

.feature-list {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.booking-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabs-container {
    display: flex;
    align-items: start;
    gap: 20px;
    font-size: 18px;
    color: #b5b5b5;
    font-weight: 600;
}

.tab-title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #000;
}
.segment-image {
    width: 50px;
}
.tab-content {
    display: flex;
}
.main-promo {
    display: flex;
    width: 623px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    font-weight: 500;
    margin: 51px 0 0 24px;
}

.price {
    font-size: 30px;
    letter-spacing: 0.3px;
}

.currency-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.currency-converter {
    display: flex;
    gap: 6px;
    font-size: 16px;
}
.currency-icon {
    aspect-ratio: 1;
    width: 24px;
}
.booking-info {
    display: flex;
    gap: 19px;
    font-weight: 600;
}

.booking-details {
    border-radius: 14px;
    background-color: #d9d9d9;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex: 1;
    padding: 16px 24px;
}

.date-range {
    display: flex;
    flex-direction: column;
}
.input-date {
    font-size: 10px;
}
.input-placeholder {
    font-size: 15px;
    color: #979797;
}
.date-picker-icon {
    width: 38px;
}
.room-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}
.room-details {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
}

.guests-info {
    border-radius: 14px;
    background-color: #d9d9d9;
    display: flex;
    width: 300px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    font-weight: 600;
    padding: 20px 80px 20px 30px;
}

.guest-title {
    font-size: 10px;
}
.guest-range {
    font-size: 15px;
    color: #979797;
}
.payment-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-details {
    display: flex;
    gap: 10px;
    align-items: center;
}
.wallet-btn, .room-reservation, .get-reservation{
    cursor: pointer;
    border-radius: 20px;
    border: 3px solid;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 46px;
}

.wallet-label {
    font-size: 16px;
    font-weight: 600;
    margin: auto 0;
}

.wallet-icon {
    width: 44px;
}

.help-btn {
    display: flex;
    gap: 6px;
    font-size: 16px;
}
.help-icon {
    width: 24px;
}

.input-placeholder {
    border: none;
    background: none;
    color: inherit; /* herda a cor do texto */
    font: inherit; /* herda a fonte */
    outline: none; /* remove o contorno ao focar */
    color:#979797;
    cursor: text;

}

