<section>
    <div class="manage-sections">
        <ether-filter></ether-filter>

        <div class="manage-sections__rooms">
            <div class="list-room">
                <ether-table></ether-table>
            </div>
            <div class="create-room">
                <p>CREATE NEW ROOM</p>
                <ether-button-icon iconName="add-icon" buttonType="secondary" (onClick)="handleButtonClick()"></ether-button-icon>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>