.ether-input {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: #D9D9D9;

    label {
        font-family: 'quasimoda-semi-bold';
        display: block;
        font-size: 10px;
        margin-bottom: 3px;
    }

    input {
        outline: none;
        border: none;
        display:block;
        padding: 0;
        background-color: transparent;

        &::placeholder {
            font-family: 'quasimoda-semi-bold';
            color: #979797;
            font-size: 13px;
            background-color: transparent;
        }
    }

}