<section>
    <div class="container">
        <div class="hotel-details">
            <div class="hotel-details__info">
                <div class="hotel-details__info--location">Las Vegas, Nevada</div>
                <div class="hotel-details__info--date">June 02 - 04, 2024</div>
            </div>
            <div class="hotel-details__price">
                <ether-icon-text [iconName]="'ether-icon'" text="0,27 ETH"></ether-icon-text>
            </div>
        </div>
        <ether-icon-button iconName="right-arrow" (onClick)="handleButtonClick()"></ether-icon-button>
    </div>
</section>