section {
    padding: 20px;
    
    form {
        display: flex;
        justify-content: space-around;
        gap: 25px;
    
        ether-button {
            width: 25%;
        }
    
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            .room-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .room-information {
                    display: flex;
                    align-items: center;
                    .infos {
                        ul {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            column-gap: 40px;
                        }
                    }
                }
            }
        }
    
    
        .group-tab {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: end;
            justify-content: space-between;
    
            .booking {            
                display: flex;
                flex-direction: column;
                gap: 30px;
        
                .room-price,
                .room-availability,
                .room-type {
                    display: flex;
                    gap: 20px;
                }
        
                .room-price,
                .room-availability {
                    align-items: center;
                }
        
                .room-type {
                    align-items: end;
                }
            }
    
            .delete-room {
                width: 25%;
            }
        }
    }    
}