<h4>USER</h4>
<form *ngIf="userForm$ | async as userForm" [formGroup]="userForm">
    <ether-form-field>
        <ether-form-field-label>E-MAIL *</ether-form-field-label>
        <input etherInput formControlName="email" type="text" />
        <ether-form-field-error *ngIf="userForm.get('email').touched && userForm.get('email').hasError('required')">
            Field is required
        </ether-form-field-error>
    </ether-form-field>
    @if (isRegistered) {
        <h4>PROFILE PICTURE</h4>
        <ether-thumbnail 
            *ngIf="profilePictureControl$ | async as profilePictureControl" 
            [thumbnailControl]="profilePictureControl"
        ></ether-thumbnail>
    }
</form>