$primary-black: #111111;

$primary-white: #F6F6F6;

$color-1: #7F7F7F;
$color-2: #A6A6A6;
$color-3: #C7C6C6;
$color-4: #D6D6D6;
$color-5: #E7E7E7;

$color-6: #4B5062;
$color-7: #5B6176;
$color-8: #6E758E;
$color-9: #858DAA;
$color-10: #AAB2CD;
$color-11: #C9CFE5;