button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #4B5062;
    border-radius: 16px 0 16px 0;
    border-style: none;
    cursor: pointer;
    color: white;
    padding: 20px 30px;
    font-size: 15px;
}