button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

button.primary, button.danger {
    border-radius: 16px 0 16px 0;
    color: white;
    border-style: none;
    padding: 15px 25px;
    font-size: 15px;
}

button.primary {
    background-color: #4B5062;
}

button.danger {
    background-color: #9A3D3D;
}

button.secondary {
    background-color: white;
    border: 2px solid #000000;
    color: black;
    border-radius: 20px;
    font-family: 'quasimoda-semi-bold';
    padding: 6px 12px;   
    font-size: 13px;
}