<form *ngIf="filterForm$ | async as filterForm" [formGroup]="filterForm">
  <h2>Search</h2>
  <ether-form-field>
    <ether-form-field-label>LOCATION</ether-form-field-label>
    <input formControlName="location" type="text" />
  </ether-form-field>
  <ether-form-field>
    <ether-form-field-label>CHECK-IN</ether-form-field-label>
    <input type="datetime-local" placeholder="Choose a date">
  </ether-form-field>
  <ether-form-field>
    <ether-form-field-label>CHECK-OUT</ether-form-field-label>
    <input type="datetime-local" placeholder="Choose a date">
  </ether-form-field>
  <ether-form-field>
    <ether-form-field-label>STATUS</ether-form-field-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of bookingStatus$ | async" [value]="status.name">{{ findBookingStatusDescriptionByName(status.name) }}</mat-option>
    </mat-select>
  </ether-form-field>
  <ether-button [isInvertColors]="true" (onClick)="applyFilter()">SEARCH</ether-button>
  <ether-button (onClick)="clearFilter()">CLEAR</ether-button>
</form>
<section>
  <div class="booking-card" *ngFor="let booking of (bookings$ | async)">
    <img [src]="findImgSrcByBase64(booking?.hotelRoom)" [alt]="booking?.hotelRoom?.description ?? 'Hotel Image'" />
    <div>
      <h4>{{ booking?.hotel?.address }}</h4>
      <h5>{{ booking.checkIn }}, {{ booking.checkOut }}</h5>
      <div>
        <span>{{ findBookingStatusDescriptionByName(booking.status) }}</span>
        <ether-button-icon iconName="right-arrow-white"></ether-button-icon>
      </div>
    </div>
  </div>
</section>