:host {
  width: 86%;
  margin: 2rem auto;
  display: block;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.5rem;
  row-gap: 1rem;
  align-items: center;
  h2 {
    grid-column: span 10;
  }
  ether-form-field {
    grid-column: span 2;
  }
}

section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}