:host(.ether-table-row) {
    width: 100%;
    display: block;
    margin: 1rem 0;
}

tr.ether-table-row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    gap: 4px;
    background-color: white;
    border-radius: 8px;
}