<ether-page>
    <main>
        <h1>DISCOVER YOUR FUTURE HOSTING</h1>
        <div>
            <mat-tab-group>
                <mat-tab label="HOTELS">
                    <section class="hotels-search">
                        <ether-form-field>
                            <ether-form-field-label>LOCATION</ether-form-field-label>
                            <input type="text" placeholder="AVENIDA T-4, GOIÂNIA">
                        </ether-form-field>

                        <ether-form-field>
                            <ether-form-field-label>CHECK IN</ether-form-field-label>
                            <input type="text" placeholder="04 MAY, 2024">
                        </ether-form-field>

                        <ether-form-field>
                            <ether-form-field-label>CHECK OUT</ether-form-field-label>
                            <input type="text" placeholder="22 MAY, 2024">
                        </ether-form-field>
                        <ether-button [isInvertColors]="true">SEARCH</ether-button>
                    </section>
                </mat-tab>
                <mat-tab label="FLIGHTS">
                    <h2>AVAILABLE SOON</h2>
                </mat-tab>
                <mat-tab label="FOOD POINTS">
                    <h2>AVAILABLE SOON</h2>
                </mat-tab>
            </mat-tab-group>
        </div>
    </main>
    
    <section class="hotels">
        <ether-home-section-title title="HOTELS"></ether-home-section-title>
    
        <ether-hotel-info *ngFor="let hotel of mostBookedHotels$ | async" [hotel]="hotel"></ether-hotel-info>
    </section>
    
    <section class="about-us">
        <ether-home-section-title title="ABOUT US"></ether-home-section-title>
        <ether-hotel-info *ngIf="aboutUsHotel$ | async as hotel; else noneBooked" [hotel]="hotel"></ether-hotel-info>
        <ng-template #noneBooked>
            <div class="none-booked">

            </div>
        </ng-template>
        <div>
            <h3>SECURE, SEAMLESS, SMART.</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam ornare purus eget posuere tincidunt. 
                Vivamus ut eros fringilla, aliquet arcu ut, sollicitudin est. 
                Integer dictum orci sed erat venenatis porta. 
                Integer ornare faucibus accumsan. Proin iaculis lobortis tincidunt. 
                Nulla condimentum suscipit fringilla. Vivamus rutrum eget urna id maximus. 
                Aliquam nec auctor arcu. 
                Vestibulum imperdiet orci id lectus gravida eleifend. 
                Pellentesque vel enim rutrum, condimentum metus vel, elementum
            </p>
            <img src="./../../../../assets/images/home-about-us-1.png" />
        </div>
        <div>
            <img src="./../../../../assets/images/home-about-us-2.png" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam ornare purus eget posuere tincidunt. 
                Vivamus ut eros fringilla, aliquet arcu ut, sollicitudin est. 
                Integer dictum orci sed erat venenatis porta. 
                Integer ornare faucibus accumsan. Proin iaculis lobortis tincidunt. 
                Nulla condimentum suscipit fringilla. Vivamus rutrum eget urna id maximus. 
                Aliquam nec auctor arcu. 
                Vestibulum imperdiet orci id lectus gravida eleifend. 
                Pellentesque vel enim rutrum, condimentum metus vel, elementum mauris. 
                Quisque lorem magna.
            </p>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam ornare purus eget posuere tincidunt. 
                Vivamus ut eros fringilla, aliquet arcu ut, sollicitudin est. 
                Integer dictum orci sed erat venenatis porta. 
                Integer ornare faucibus accumsan. Proin iaculis lobortis tincidunt. 
                Nulla condimentum suscipit fringilla. Vivamus rutrum eget urna id maximus. 
                Aliquam nec auctor arcu. 
                Vestibulum imperdiet orci id lectus gravida eleifend. 
                Pellentesque vel enim rutrum, condimentum metus vel, elementum mauris. 
                Quisque lorem magna. Lorem ipsum dolor sit amet, consectetur adipiscing
            </p>
            <img src="./../../../../assets/images/home-about-us-3.png" />
        </div>
    </section>
</ether-page>
