.home-page4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-500);
  width: 1920px;
  height: 1080px;
}
.image-1-icon1 {
  width: 100%;
  height: 98%;
  object-fit: contain;
  position: absolute;
  left: -12px;
  top: 4px;
  transform: scale(1.041);
}
.wrapper-image-11 {
  position: absolute;
  top: 0;
  left: 935px;
  width: 984px;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.etheroom4,
.log-in2 {
  position: absolute;
  display: inline-block;
}
.log-in2 {
  margin: 0;
  top: 290px;
  left: 374px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  width: 177px;
  height: 49px;
}
.etheroom4 {
  top: 10.6px;
  left: 88.9px;
  width: 256.1px;
  height: 52px;
}
.image-removebg-preview-51-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 89.2px;
  height: 81px;
  object-fit: cover;
}
.etheroom-group {
  position: absolute;
  top: 149px;
  left: 282px;
  width: 345px;
  height: 81px;
  font-family: var(--font-fontspring-demo---all-round-gothic-book);
}
.rectangle-button {
  cursor: pointer;
  border: 3px solid var(--color-black);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 196px;
  height: 66px;
}
.create-hotel {
  position: absolute;
  top: 25px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 96px;
  height: 15px;
}
.sign-in-child2 {
  cursor: pointer;
  border: 3px solid var(--color-black);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 223px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 196px;
  height: 66px;
}
.create-user {
  position: absolute;
  top: 25px;
  left: 273px;
  font-weight: 600;
  display: inline-block;
  width: 96px;
  height: 15px;
}
.sign-in7 {
  position: absolute;
  top: 761px;
  left: 252px;
  width: 419px;
  height: 66px;
  font-size: var(--font-size-base);
}
.campo-log-in-21,
.campo-log-in-31,
.campo-log-in-41,
.campo-log-in-5 {
  border: 0;
  outline: 0;
  font-family: var(--font-quasimoda);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 649px;
  left: 190px;
  width: 546px;
  height: 42px;
  padding: 0 var(--padding-12xs) var(--padding-sm);
  box-sizing: border-box;
  color: var(--color-black);
}
.campo-log-in-21,
.campo-log-in-31,
.campo-log-in-41 {
  top: 489px;
  left: 188px;
}
.campo-log-in-21,
.campo-log-in-41 {
  top: 569px;
  left: 189px;
}
.campo-log-in-21 {
  top: 409px;
  left: 188px;
}
.log-in3 {
  color: var(--color-blue);
}
.already-a-member-container1 {
  text-decoration: none;
  position: absolute;
  top: 895px;
  left: 347px;
  font-size: var(--font-size-xl);
  color: inherit;
}
.any-sign-up-page {
  width: 100%;
  margin-right: 1900px;
  max-width: 1920px;
  position: relative;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-quasimoda);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

