:host {
    padding-left: 7%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: black;
}

nav {
    grid-column: span 6;
    display: flex;
    ul {
        width: 100%;
        display: grid;
        margin: 1rem 0;
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        list-style: none;
        border-bottom: 3px solid rgba($color: #000000, $alpha: 0.3);
        li {
            width: 100%;
            height: 100%;
            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                text-decoration: none;
                transition: var(--linear-transition-settings);
                &.active {
                    border-bottom: 3px solid black;
                }
                &:hover {
                    color: rgba($color: #000000, $alpha: 0.7);
                    border-bottom: 3px solid rgba($color: #000000, $alpha: 0.7);
                    transition: var(--linear-transition-settings);
                }
            }
        }
    }
}

img.logo {
    width: 100%;
    grid-column: span 3;
    object-fit: contain;
}

div {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;

    img.avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 1px solid black;
        object-fit: cover;
        cursor: pointer;
    }
}

div.actions {
    gap: 0.5rem;
    a {
        padding: 0.5rem 2.5rem;
        background-color: black;
        color: white;
        letter-spacing: 0.075rem;
        border: 2px solid black;
        border-radius: 1rem;
        text-decoration: none;
        transition: var(--linear-transition-settings);
        &:first-child {
            background-color: white;
            color: black;
            &:hover {
                background-color: black;
                color: white;
            }
        }
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

img.logo, nav, div {
    background-color: white;
}