<ng-container *ngIf="userForm$ | async as userForm; else roleNotSelected">
    <div class="sign-up-header">
        <img src="./../../assets/images/etheroom-logo.svg" alt="Ether Logo">
        <h1>Sign Up</h1>
    </div>
    <etheroom-person-form *ngIf="isPerson; else hotelForm" [personForm]="userForm"></etheroom-person-form>
    <ng-template #hotelForm>
        <etheroom-hotel-form [hotelForm]="userForm"></etheroom-hotel-form>
    </ng-template>
    <div class="actions">
        <ether-button (onClick)="reset()">Back</ether-button>
        <ether-button (onClick)="onSubmit()">Submit</ether-button>
    </div>
</ng-container>
<ng-template #roleNotSelected>
    <div class="sign-up-welcome-container">
        <img src="./../../../../assets/images/sign-up-bg.jpg" alt="Picture that shows a hotel with a pool at night" />
        <div>
            <img src="./../../../../assets/images/etheroom-logo.svg" alt="Ether Logo">
            <h1>Sign Up</h1>
            <p>
                Our services use the Metamask Browser Plugin.<br>
                Make sure you have installed the <a href="https://metamask.io/download/">Metamask plugin</a> in your browser.
            </p>
            <div class="actions" *ngIf="ethereumAccount$ | async; else loadingAccount">
                <ether-button (onClick)="onClickPerson()">Create Guest</ether-button>
                <ether-button (onClick)="onClickHotel()">Create Hotel</ether-button>
            </div>
            <ng-template #loadingAccount>
                <ng-container *ngIf="connectionAttempted; else unableToConnect">
                    <p>We weren't able to load your Metamask Account data</p>
                    <p>Check if you have the Plugin installed and try again</p>
                    <ether-button (onClick)="retryConnection()">Reload Metamask Data</ether-button>
                </ng-container>
                <ng-template #unableToConnect>
                    <p>We use Metamask Accounts Data for authentication</p>
                    <p>We sent you a request to sign a message for registering purposes</p>
                    <p>Check your Metamask Plugin and sign the message</p>
                    <p>The message is Login Etheroom</p>
                    <p>We will request in certain actions in our system</p>
                </ng-template>
            </ng-template>
            <p>Already have an account? <a routerLink="/sign-in">Log in</a></p>
        </div>
    </div>
</ng-template>