<section>
    <h2>Search</h2>

    <div class="fields">
        <ether-form-field>
            <ether-form-field-label>ROOM NUMBER</ether-form-field-label>
            <input type="text" placeholder="ANY NUMBER">
        </ether-form-field>
        
        <ether-form-field>
            <ether-form-field-label>ROOM TYPE</ether-form-field-label>
            <input type="text" placeholder="SINGLE, DOUBLE, KING...">
        </ether-form-field>
    </div>

    <ether-button [isInvertColors]="true">SEARCH</ether-button>
</section>
